header{
    background: rgb(39, 158, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header__content {
    padding: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content a, 
.header__content nav {
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.header__content a:hover{
    color: rgb(216, 216, 216);
}

.links {
    display: flex;
    align-items: center;
}