.table {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.table__header{
    background: rgb(39, 158, 255);
}

.table__header .item {
    font-weight: 600;
    color: white;
}

.items {

}

.item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.string {
    max-width: 20%;
	flex: 1 1 20%;
    padding: 10px 0;
    word-wrap: break-word;
}

.string:not(:last-child, :first-child){
}

.controll {
    max-width: 100px;
    padding: 10px;
}